env/
main/models/__pycache__
main/__pycache__
main/.ipynp_checkpoints
main/figures
main/saved_models
main/traininfo
main/MNIST
main/data
main/results/results_wkof_080121
main/results/results_wkof_080821